<div class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators" data-ride="carousel">
    <li class="active"></li>
    <li></li>
    <li></li>
  </ol>
  <div class="carousel-inner"  style="width:880px;height: 300px;">
    <div class="item active"  width="800px" height="300px" >
      <img class="slide-image" src="http://img2.100bt.com/upload/ttq/20131208/1386496341645_middle.jpg" alt="">
    </div>
    <div class="item"  width="800px" height="300px" >
      <img class="slide-image" src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1308784673,3680939805&fm=27&gp=0.jpg" alt="">
    </div>
    <div class="item"  width="800px" height="300px" >
      <img class="slide-image" src="http://img2.imgtn.bdimg.com/it/u=1894384757,2976799759&fm=27&gp=0.jpg" alt="">
    </div>
  </div>
  <a class="left carousel-control" href="javascript: $('.carousel').carousel('prev')">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="javascript:$('.carousel').carousel('next')">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
