<div>

  <img src="">
  <h3>{{product.desc}}</h3>
  <h3>{{product.title}}</h3>
<hr>


</div>
<div>
  <p class="pulll-right">{{comments.length}}</p>
<p>
  <app-stars [rating]="product.rating"></app-stars>
</p>
</div>

<div class="well">
  <div>

    <button class="btn btn-success" (click)="isCommentHidden = !isCommentHidden">发表评论</button>
  </div>
  <div  class="col-md-12" [hidden]="isCommentHidden">
    <div><app-stars [readonly]="false" [(rating)]="newRating"></app-stars></div>
<div><textarea [(ngModel)]="newComment"></textarea></div>
    <div> <button class="btn" (click)="save()">submit</button> </div>
  </div>
<div *ngFor="let loop of comments" class="row">
  <div class="col-md-12">
  <app-stars [rating]="loop.rating"></app-stars>
  <span>评论者：{{loop.user}}</span>
  <span>{{loop.timestamp}}</span>
  <b>{{loop.content}}</b></div>
</div>
</div>
